<aside class="container-sub">
<div>
    <h2>トレンドタグ</h2>
    <div class="tags">
    <ul>
        {{ $tags := .Site.Taxonomies.tags }}
        {{ $count := 0 }}
        {{ range $tagName, $tag := $tags }}
          {{ if lt $count 50 }}
            <li><a href="{{ printf "/tags/%s" $tagName | urlize }}">{{ $tagName }}</a></li>
        {{ end }}
        {{ $count = add $count 1 }}
      {{ end }}
    </div>
    </ul>
</div>

<div class="related">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <h3>関連記事</h3>
    <ul>
        {{ range $related }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>
</aside>
