<aside class="container-sub">
    <div class="scroll-box-sub">
        <h2>カテゴリ</h2>
        <div class="categories">
            <ul class="dropdown-menu">
            {{ $categories := .Site.Taxonomies.categories }}
            {{ range $categoryName, $category := $categories }}
                <li><a href="{{ printf "/categories/%s" $categoryName | urlize }}">{{ $categoryName }}</a></li>
            {{ end }}
            </ul>
        </div>
    </div>
    <div class="scroll-box-sub">
        <h2>トレンド</h2>
        <div class="tags">
            <ul>
            {{ $tags := .Site.Taxonomies.tags }}
            {{ $count := 0 }}
            {{ range $tagName, $tag := $tags }}
                {{ if lt $count 50 }}
                {{ $encodedTagName := urlquery $tagName }}
                <li><a href="{{ printf "/tags/%s" $encodedTagName | safeURL }}">{{ $tagName }}</a></li>
                {{ end }}
                {{ $count = add $count 1 }}
            {{ end }}
            </ul>
        </div>
    </div>

</aside>
