<div class="announcement">
    <!-- <p>お知らせ</p> -->
</div>
<div class="articles-links">
    <div class="scroll-box">
        <div class="latest">
            <h2>新着記事</h2>
            <ul>
                {{ $latest := where .Site.RegularPages "Params.latest" "!=" nil | first 50 }}
                {{ range $latest }}
                    {{ if and (isset .Params "latest") (eq .Params.latest false) }}
                        <!-- Skip this item as it's not a latest article -->
                    {{ else }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
    <div class="scroll-box">
        <div class="popular">
            <h2>人気記事</h2>
            <ul>
                {{ $popular := where .Site.RegularPages "Params.popular" "!=" nil | first 50 }}
                {{ range $popular }}
                    {{ if and (isset .Params "popular") (eq .Params.popular true) }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</div>
